  #user-cta{
    z-index: 4;
    position: fixed;
    top: 25px;
    background-image: url('http://localhost:8888/newshack/www/css/img/id.png');
    background-repeat: no-repeat;
    background-position: 30px 0;
    padding-left: 62px;
    height: 28px;
  }

@media only screen and (min-width: 480px) {
   #user-cta{
    background-position: 0px 0;
    padding-left: 32px;
  }
}


  #content{
    margin-top: 120px;
  }

  
  p.footer{
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
  }

    h1.header {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        color: #fff;
        font-size: 1.35em;
        background-color: #505050;
        padding: 8px 8px 8px 20px;
        background-image: url('http://localhost:8888/newshack/www/css/img/chevron.png');
        background-repeat: no-repeat;
        background-position: 97% 6%;
        border: 1px solid #D0D0D0;
        border-bottom: 3px solid #ededed;
   }
   h1.open{
      background-position: 97% 93%;
   }


.header{
  padding: 8px;
}
.wrapper,
.tweet,
.headline{
  display:none;
  transition: display .25s ease-in-out;
   -moz-transition: display .25s ease-in-out;
   -webkit-transition: display .25s ease-in-out;
}
a:hover .wrapper {
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url('http://localhost:8888/newshack/www/css/img/8px_square.png');
}

a:hover .headline{
  display: block;
  font-size: 22px;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 32px;
  position: absolute;
  font-weight: bold;
  line-height: 32px;
  max-width: 256px;
  max-height: 32px;
}

a:hover .tweet{
  display: block;  
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 8px;
  background: url('http://localhost:8888/newshack/www/css/img/twitter_icon.png');
  background-repeat: no-repeat;
  background-position: 20% 40%;
  max-width: 244px;
  padding-left: 76px;
}

.tweets{
  position:absolute;
  bottom:0px;
}

.photo {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform:  translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    -moz-transform: translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    transform: translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    width: 320px;
    margin: 5px;
    float: left;
    opacity: 0;
    min-height: 180px;
    img{
      display: block;
      width: 100%;
      background-color: #47828e;
      color: #47828e;
      min-height: 180px;
    }

}
 
.photo.appeared{
    -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    -moz-transform:  translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    transform: translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1);
    opacity: 1;
}