.DS_Store
node_modules/
tasks/*/*/css/*.css
.sass-cache/
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess